*.h5ad filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ckpt,*.h5ad filter=lfs diff=lfs merge=lfs -text
*.h5ad,*.chk,*.pth filter=lfs diff=lfs merge=lfs -text
*.h5ad,*.chk,*.pth,*.dcm filter=lfs diff=lfs merge=lfs -text
